.. raw:: pdf

   Spacer 0 60


.. image:: assets/NCAS_national_centre_logo_transparent.png
   :width: 75%
   :alt: NCAS logo

.. raw:: pdf

   Spacer 0 100

.. class:: title

ncas-amof-netcdf-template documentation

.. class:: centered

Version :package-version:`ncas_amof_netcdf_template`
